body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:10px;
	font-weight:300;
	line-height:1.6em;
	color:rgb(22, 22, 22);
	background-color:rgb(255, 255, 255);
    overflow-x:hidden;
    -webkit-backface-visibility: hidden;
}

hi,h2,h3,h4,h5,h6 {
	color:#333;
	line-height:1.1em;
}
canvas {
    margin: 10px;
    padding: 0;
    border: 10px;
    width: 100%;
  }
.navigation  {
	background-color:#fff;
	padding:0;
}

.navbar-brand h1 {
	margin-top:-1px;
	padding-top:5px;
	float: left;	
	font-size: 30px;	
	color:#333;		
}
.navbar-brand h1 span {
	color: #ED502E;
}

.menu {
	font-size:12px;
	float:right;
	text-transform:uppercase;
	font-weight:600;	
}

.menu ul.nav-tabs li {
	color:#000;	
}


  #savedCopyContainer img {
    width: 30%;
    height: 30%;
    background: rgba(255, 255, 255, 0.541);
  }
.tool{
    margin: 10px;
    padding: 0;
    border: 10px;
    width: 100%;
}
  .btn {
    text-decoration-color: #ffffff;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background:  #ED502E;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    border-color: #ffffff;
  }
  
  .btn:hover {
    text-decoration-color: rgb(22, 22, 22);
    background: #ffffff;
  }

  .toptool {
    font-family: Arial;
    color: #0077c7;
    font-size: 12px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-transform:uppercase;
  }
  .a{
    color: #ED502E;
  }
 /*# sourceMappingURL=bootstrap-theme.css.map */
 